@import './typography/stylesheet';
@import 'vars.scss';
@import 'base.scss';
@import 'rules.scss';
@import 'animations.scss';

// locals

.splashpage {
  border: .75em solid $dark-grey;
}

.header {
  position: relative;
  height: 55vh;
  background-color: $dark-grey;
  @media screen and (min-width: $xs-break) {
    height: 42.5vh;
  }
  @media screen and (min-width: $s-break) {
    height: 36vh;
  }
  @media screen and (min-width: $l-break) {
    height: 50vh;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: inline-block;
  margin: 0;
  padding: 0 3em;
  @media screen and (max-width: $s-break) {
    padding: 0 1em;
  }
}

.header__resume {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.header__links {
  display: inline-block;
  float: right;
  padding: 2.8em 1em;
  @media screen and (max-width: $s-break) {
    padding: 2.8em 0;
  }
}

.header__links * {
  margin: 0 3vw;
}

.header__resume img {
  display: block;
  margin: 0 auto;
}

.brochure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brochure__item {
  flex: 0 0 40%;
  margin: 3em 0;

  @media screen and (min-width: $xs-break) {
    flex: 0 0 85%;
    font-size: 75%;
  }
}

.brochure__header {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.2em;
}

.resume {
  max-width: 80%;
  @media screen and (max-width: $s-break) {
    max-width: 100%;
  }
}

.icon::before {
  font-size: 10em;
  -webkit-text-fill-color: transparent;
  color: rgba(245,197,54,1);
  background-image: linear-gradient(160deg, $accent-light 40%, $dark-grey 100%);
  -webkit-background-clip: text;
}

.footer {
  background-color: $dark-grey;
  color: white;
  height: 100%;
}

.footer__text {
  padding: 5em 0;
}

.register {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10vh;
}

.register_form {
  font-size: .9em;
  color: white;
  display: inline-block;
  text-align: left;
}

.register_form__input {
  width: 16em;
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: .2em;
  background: transparent;
  padding: 0.7em 1em;
  border: 1px solid white;
  color: white;
}

.register_form__input--invalid {
  box-shadow: 0 0 5px $dark-red;
}

.register_form__input:focus {
  outline: none;
  box-shadow: 0 0 5px $light-grey;
  transition: $default-transition;
}

.logoform {
  background-position: center center;
  background-repeat: no-repeat;
  height: 20vh;
  width: 100%;
}

.register_form__button {
  background: transparent;
  color: $light-grey;
  border: 1px solid $light-grey;
  padding: 1em;
  width: 100%;
  border-radius: 3px;
  text-transform: uppercase;
  transition: $default-transition;
}

.register_form__button:hover {
  transition: $default-transition;
  background-color: $light-grey;
  color: $dark-grey;
  cursor: pointer;
}

.register_form__reminder {
  font-size: 85%;
  color: #7b7b7b;
  margin-top: -0.6em;
  margin-bottom: 1em;
  min-height: .1em;
}

.register_form * {
  display: block;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
