@font-face {
  font-family: 'Tiempos Headline';
  src: url("./typography/TiemposHeadline-Regular.woff") format("woff"), url("./typography/TiemposHeadline-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Tiempos Headline';
  src: url("./typography/TiemposHeadline-Bold.woff") format("woff"), url("./typography/TiemposHeadline-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Vaud Display';
  src: url("./typography/VaudDisplay-Medium.woff") format("woff"), url("./typography/VaudDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Vaud Display';
  src: url("./typography/VaudDisplay-SemiBold.woff") format("woff"), url("./typography/VaudDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Vaud Display';
  src: url("./typography/VaudDisplay-Light.woff2") format("woff2"), url("./typography/VaudDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: "Vaud Display", Helvetica, sans-serif;
  color: #292929;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none;
  color: #f1f1f1;
  transition: 0.2s all; }

a:hover {
  color: #7da4a9; }

.center {
  text-align: center; }

.logo {
  font-family: "Tiempos Headline", Georgia, serif;
  color: white; }

.darkbckgr {
  background-color: #292929; }

.full_height {
  min-height: 100vh; }

.flex_wrap_center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.splashpage {
  border: 0.75em solid #292929; }

.header {
  position: relative;
  height: 55vh;
  background-color: #292929; }
  @media screen and (min-width: 320px) {
    .header {
      height: 42vh; } }
  @media screen and (min-width: 375px) {
    .header {
      height: 36vh; } }
  @media screen and (min-width: 1024px) {
    .header {
      height: 50vh; } }

.header__logo {
  display: inline-block;
  margin: 0;
  padding: 1em; }

.header__resume {
  position: absolute;
  width: 100%;
  bottom: 0; }

.header__links {
  display: inline-block;
  float: right;
  padding: 2.8em 0; }

.header__links * {
  margin: 0 3vw; }

.header__resume img {
  display: block;
  margin: 0 auto; }

.brochure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.brochure__item {
  flex: 0 0 40%;
  margin: 3em 0; }
  @media screen and (min-width: 320px) {
    .brochure__item {
      flex: 0 0 85%;
      font-size: 75%; } }

.brochure__header {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.2em; }

.resume {
  max-width: 80%; }
  @media screen and (max-width: 375px) {
    .resume {
      max-width: 100%; } }

.icon::before {
  font-size: 10em;
  -webkit-text-fill-color: transparent;
  color: #f5c536;
  background-image: linear-gradient(160deg, #749295 40%, #292929 100%);
  -webkit-background-clip: text; }

.footer {
  background-color: #292929;
  color: white;
  height: 35vh; }

.footer__logo {
  padding: 2.5em; }

.register {
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  justify-content: center; }

.register_form {
  font-size: .9em;
  color: white;
  display: inline-block;
  text-align: left; }

.register_form__input {
  width: 16em;
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: .2em;
  background: transparent;
  padding: 0.7em 1em;
  border: 1px solid white;
  color: white; }

.register_form__input--invalid {
  box-shadow: 0 0 5px #ff3636; }

.register_form__input:focus {
  outline: none;
  box-shadow: 0 0 5px #f1f1f1;
  transition: 0.2s all; }

.logoform {
  background-position: center center;
  background-repeat: no-repeat;
  height: 20vh;
  width: 100%; }

.register_form__button {
  background: transparent;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  padding: 1em;
  width: 100%;
  border-radius: 3px;
  text-transform: uppercase;
  transition: 0.2s all; }

.register_form__button:hover {
  transition: 0.2s all;
  background-color: #f1f1f1;
  color: #292929;
  cursor: pointer; }

.register_form__reminder {
  font-size: 85%;
  color: #7b7b7b;
  margin-top: -0.6em;
  margin-bottom: 1em;
  min-height: .1em; }

.register_form * {
  display: block; }
