$heading: "Tiempos Headline", Georgia, serif;
$body-text: "Vaud Display", Helvetica, sans-serif;

$light-grey: #f1f1f1;
$accent-light: #749295;
$accent-dark: rgb(125, 164, 169);
$dark-grey: #292929;

$default-transition: .2s all;


// Responsive breakpoints
